body {	
	margin: 0px; 
	background: -webkit-gradient(linear, left top, right top, color-stop(71.42%, #c5ccd4), color-stop(71.42%, #cbd2d8));  
	-webkit-background-size:7px 1px;  
	padding: 0 0 10px 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.2em; 
}


#xava_loading, #xava_loading2 { 
	padding: 10px;	
	border: none;
	background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
	opacity:.40;
	-webkit-border-radius: 7px;	  
	color: white;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75); 
	font-weight: bold; 
	-webkit-box-shadow: 10px 10px 10px rgba(140,140,140,0.75);;
	display:none; 
	z-index: 9999; 
	position: fixed; 	 
	left: 25%;
	width: 50%;
}

#xava_loading {
	top: 25%;
}

#xava_loading2 {
	top: 120%;
}

.ox-view {
	border-bottom: 1px solid #959596; 
		 	
}

.phone-frame, .ox-section { 
	margin: 10px;
}

.phone-frame, .ox-frame-content {
	background: #f7f7f7; 
	padding: 0px;  	
	-webkit-border-radius:15px; 	     					
	color: #385587;
	text-shadow: 0px 1px 1px black #A0ADC4; 
	border: 2px solid #B2B4B8;	
	-webkit-box-shadow: 0px 2px 0px white;		
}

.ox-active-section {
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	border-left: 1px solid #B2B4B8;
	border-right: 1px solid #B2B4B8;
}

.ox-frame-actions img {
	height: 38px;
}

.ox-frame-title-label {
	padding: 10px 0px 0px 10px;
	vertical-align: bottom;	
}

input {
	color: #385587;
}

.ox-label {
	text-align: left; 
	color: black;	
	font-weight: bold;
	font-size: 80%; 
	text-shadow: 0px 2px 1px #E8E8E9; 	
}

.ox-button-bar, .ox-section, .modules-list-header, #modules_list_search_header {  
	height: 32px;
}

.ox-button-bar, .modules-list-header, #modules_list_search_header {  
	font-size: 0.9em;
	position: relative;
    height: 42px;
    border: 1px solid #cad6e2;
    border-bottom-color: #22374a; 
    border-right: 0;
    border-left: 0;
    text-align: center;
    background: -webkit-gradient(linear, left top,left bottom, from(#afbbcb), to(#6e86a4), color-stop(0.48, #8b9db5), color-stop(0.5, #8195af));
}

.ox-button-bar a, .modules-list-header a, #modules_list_search_header a { 
	text-decoration:none;
}

.ox-collection-list-actions {
	padding: 0px 4px 0px 6px;
	height: 40px;
}

.phone-frame .ox-action-link {
	background: white;
	padding: 5px;	
	border: 1px solid #C4C4C4;
	-webkit-border-radius:5px;
	color: #7C7A77;
	font-size: 0.9em;
	text-decoration: none;
	text-shadow:1px 0px 0px #EDEDED;
}

.ox-section>table { 
	margin-left: auto;
    margin-right: auto;
}

.ox-list, #modules_list_core {  
	margin-top: -2px;
	font-size: 0.9em;	
	border: none; 
	text-shadow:0px 1px 1px white;
	background: white; 
	width: 100%;
}

.module-name img {
	padding-right: 10px;
}

#modules_list_search_header { 
	display: none; 
}

#modules_list_box {
	width: 100%; 
}


.folder-icon { 
    float: right;
	background-image: url("../images/chevron.png"); 
	padding-right: 10px;	
}
 
#modules_list_content A {
	text-decoration: none;	
}

#search_modules {
	margin: 9px 15px 10px 4px;
}

#search_modules_text {
	padding-left: 5px;
	background-image: url("../../naviox/images/search.png");
	background-position: right;
	background-repeat: no-repeat;		
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width: 100%;
}

#modules_list_box td {
	padding: 0px;
}

#modules_list_box {
	border-spacing: 0px;
    border-collapse: separate;
}

#modules_list_box {
	position: relative; 
	top: 0; 
	left: 0;
}

.slided-left {
	-webkit-transform: translateX(-130%);
}

.slided-right {
	-webkit-transform: translateX(200%);
}

.ox-list-odd {
	background: #BBBBBB;	
	border-top: 1px solid #CFCFCF;
	border-bottom: 1px solid #959596;
	padding: 10px 8px 10px 8px;	 
}

.ox-list-pair {
	background: #AFAFAF;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #959596;
	padding: 10px 8px 10px 8px;
}

.ox-total-row {
	height: 40px;
	background: #AFAFAF;
	border-top: 1px solid #C6C6C6;
	border-bottom: 1px solid #959596;
	background: -webkit-gradient(linear, left bottom, left top, 
		from(#565A63), color-stop(0.5, #6A6E76), color-stop(0.51, #797D84), to(#91969E));
}

.ox-total-cell, .ox-total-capable-cell {
	text-align: right;
	color: white;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75);		
}

.ox-list-header a {
	color: white;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75);
}

.ox-list-header {
	background: -webkit-gradient(linear, left bottom, left top, from(#797D84), to(#91969E));
}

.ox-list-subheader {
	background: -webkit-gradient(linear, left bottom, left top, from(#565A63), to(#6A6E76));
	padding: 2px 8px 2px 10px;
}

.ox-header-list-count {
	margin-left: 10px;
	font-size: 75%;	
}

.ox-list-info {	
	margin-top: 10px;
	-webkit-border-radius:7px;
	border: 1px solid #505153;	
	background: -webkit-gradient(linear, left bottom, left top, 
		from(#565A63), color-stop(0.5, #6A6E76), color-stop(0.51, #797D84), to(#91969E));
}

.ox-page-navigation-arrow-disable, .ox-page-navigation-arrow img {	 
	padding: 5px 10px 7px 10px;	
}

.ox-first .ox-page-navigation-arrow, .ox-first .ox-page-navigation-arrow-disable {
	border-right: 2px ridge #878B91;
	float: left;
}

.ox-last .ox-page-navigation-arrow, .ox-last .ox-page-navigation-arrow-disable {
	border-left: 2px groove #878B91;
	float: right;
}

.ox-page-navigation-pages {
	top: 8px;
	float:left; 
	position:relative; 
	left:40%;			
}

.ox-page-navigation, .ox-page-navigation-selected {
	margin-right: 10px;
}

.ox-bottom-buttons {
	background: rgba(129,150,175,0.40);
	border-top: 1px solid white;
	padding: 5px 20px 20px 20px; 
	text-align: center;	
}

.ox-bottom-buttons input[type="button"] {	
	-webkit-box-shadow: 0px 2px 0px white;
	font-size: 1.15em;	
	width: 100%;			
	color: black;
	font-weight: bold;
	height: 50px;
	border: 3px solid #4D5256;
	background: -webkit-gradient( linear, left top, left bottom, from(#FFFFFF), to(#BFBFBF), color-stop(0.5, #CDCDCD), color-stop(0.5, #BCBCBC) );      
	margin: 0px 0px 15px 0px;
	text-shadow: 0px 1px 0 #cecece;
	-webkit-background-origin: padding-box;
	-webkit-background-clip: border-box;
	-webkit-border-radius: 12px;
}

.ox-bottom-buttons .phone-confirm-action input[type="button"] {
	background: -webkit-gradient( linear, left top, left bottom, from(#B06867), to(#B1352E), color-stop(0.5, #8C221E), color-stop(0.5, #871E1B) );
	color: white;
	text-shadow: 0px 1px 0 #7C1A18;
}


.ox-errors {
	color: #CF0000;	
	font-weight: bold;
	font-size: 140%;
	text-shadow:0px 2px 1px #E8E8E9;
}

.ox-messages {
	color: #2160DD;	
	font-weight: bold;
	font-size: 140%;
	text-shadow:0px 2px 1px #E8E8E9;
}

.ox-filter-cell {
	text-align: left;
}

.selected-row {
	background: #f0f0f0;
}

.editor {
	width: 98%; 
}

.phone-date-editor .editor {
	width: 90%;
}

.phone-default-action {
	position: absolute; 
	right: 10px;
	top: 6px;
}

.phone-cancel-action {
	position: absolute; 
	left: 10px;
	top: 6px;
}

.phone-default-action, .phone-frame-action, .phone-cancel-action, .ox-section-link, .ox-active .ox-section-tab { 
 	font-size: 12px; 
 	font-weight: bold; 
 	color: #fff; 
 	text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);   
 	height: 27px; 
 	border: 1px solid rgba(0,0,0, 0.4); 
 	-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.35), inset 0 1px 1px rgba(0,0,0, 0.25); 
 	-webkit-border-radius: 5px; 
 	background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 		
}

.phone-frame-action {
	float: right;
	margin-left: 5px;
}

.phone-reference-actions {
	float: right;
	padding: 5px 0px 10px 0px;
}


.phone-frame-header a {
	text-decoration: none;
}

.phone-default-action p, .phone-frame-action p, .phone-cancel-action p { 
	position: relative;
	top: -6px;
	padding: 0px 12px 0 12px;
}

.ox-section-link, .ox-active .ox-section-tab { 
	padding: 7px 12px 7px 12px;
	text-decoration: none;
	-webkit-border-radius: 0px;	
}

.ox-section-link { 
	border: 1px solid rgba(98,104,114, 0.4);
	background: -webkit-gradient(linear, left top, left bottom, from(#bacadd), to(#7e94b0), color-stop(0.5, #889db8), color-stop(0.51, #859ab5));
	
}

.ox-first .ox-section-link, .ox-first .ox-section-tab { 
	-webkit-border-radius: 5px 0px 0px 5px;
}

.ox-last .ox-section-link, .ox-last .ox-section-tab { 
	-webkit-border-radius: 0px 5px 5px 0px;
} 
 
.phone-title { 	
	font-weight: bold;
	font-size: 140%;
	color: white;
	font-size: 20px;
	text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
	position: relative; 
	top: -26px; 
	text-align: center;
	margin: 0px 0px 0px -90px;
	margin-left: auto; 
	margin-right: auto; 
}

.phone-back-button { 
    position: relative; 
    margin: 6px 0 0 12px;  
    height: 26px; 
    width: 45px; 
    border: 1px solid rgba(0,0,0, 0.4);  
    -webkit-border-radius: 5px; 
    background: -webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa)); 
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25), inset 0 1px 1px rgba(0,0,0, 0.2);
}
.phone-back-button div { 
    position: absolute; 
    z-index: 1; 
    top: 4px; 
    left: -7px; 
    -webkit-transform: rotate(51deg);
}
.phone-back-button span { 
    -webkit-transform: skew(15deg);
    display: block; 
    width: 15px; 
    height: 16px; 
    background: -webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa));   
    -webkit-border-radius: 1px; 
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0; 
    border-top: 0;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
} 
.phone-back-button p { 
    position: absolute; 
    z-index: 2; 
    top: 5px; 
    left: 5px; 
    margin: 0; 
    padding: 0; 
    font-size: 12px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);    
    width: 35px;
    text-align: center;    
}

.phone-list-element, .phone-list-element-check, .phone-list-element-pointer, .phone-detail-element, .module-row, .folder-row { 
	border-bottom: 1px solid lightgray;
} 

.phone-frame .phone-list-element, .phone-frame .phone-list-element-check, .phone-frame .phone-list-element-pointer, .phone-frame .phone-detail-element { 
	border-top: 1px solid white;
} 

.phone-list-element {
	width: 100%; 
}

.phone-frame tr:last-child .phone-list-element, 
.phone-frame tr:last-child .phone-list-element-check, 
.phone-frame tr:last-child .phone-list-element-pointer,
.phone-detail-element:last-child {
	border-bottom: none;	
}

.phone-frame tr:first-child .phone-list-element, 
.phone-frame tr:first-child .phone-list-element-check, 
.phone-frame tr:first-child .phone-list-element-pointer,
.phone-detail-element:first-child {
	border-top: none;	
}

.phone-list-element, .module-row, .folder-row { 
	padding: 10px 0px 10px 10px;
}

.phone-list-element-check {
	padding-left: 5px;
}

.phone-list-element-check, .phone-list-element-pointer {
	width: 20px;
}

.phone-list-element a, #modules_list_content a { 
	color: black;
}

.phone-list-element-header, .module-name, .folder-name { 
	font-size: large;
	font-weight: bold;
}

.phone-list-element-subheader {
	font-size: medium;
	font-weight: normal;	
}

.phone-list-element-content, .module-description { 
	font-size: small;
	font-weight: normal;
	color: gray;	
}

.phone-detail-element {
	padding: 5px 10px 10px 10px;
}

.phone-frame-header {
	padding: 4px 20px 3px 20px; 
	
}

.phone-frame-title {
	color: #3b465a;
	font-weight: bold;
	text-shadow: 0px 2px 1px #E8E8E9;
	position: relative; 
	bottom: -5px;
}

.ui-widget-header {	 
	border: none; 
	background: -webkit-gradient(linear, left bottom, left top, 
		from(#10182C), color-stop(0.5, #121A2E), color-stop(0.51, #282F41), to(#7E838D));	  
	color: white;
	font-size: 180%;
	text-shadow:0px -1px 1px rgba(0,0,0,0.75); 
	font-weight: bold; 
}

.ui-corner-all { 
	-webkit-border-radius: 10px;
}

.ui-widget-content {
	font-size: 1.1em;
	border: none; 
	background: #151D31;
	-webkit-box-shadow: 15px 15px 30px rgba(140,140,140,0.75);;   
}

.ui-widget-content .ox-view  {
	-webkit-border-top-left-radius: 7px;
	-webkit-border-top-right-radius: 7px;		
}
.ui-widget-content .ox-bottom-buttons {
	-webkit-border-bottom-left-radius: 7px;
	-webkit-border-bottom-right-radius: 7px;			
}

.ui-dialog .ui-dialog-content {		
	padding: 5px;
}


/* For flip effect */
.container {
	-webkit-perspective: 600; 
}


.sheet {	
	position: absolute;
 	width: 100%;	
}


.face {
	position: absolute;
	width: 100%;
	overflow: hidden;		
}


.sheet {
	-webkit-transform-style: preserve-3d;
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-duration: 1.5s;	
}


.flipped
{
	-webkit-transform: rotateY(180deg);		
}

#front, #back {
	-webkit-backface-visibility: hidden;
}

#back {
	-webkit-transform: rotateY(180deg);
}

/* To adjust calendar position for dates */
input[type="text"] + a {
	float: right;
	top: -30px;
	left: -7px;
}
.iphone [type="text"] + a {
	top: -26px;
	left: -10px;
}

input[type="text"] + input[type="hidden"] + b {
	position: relative;
	top: -27px;
	left: 7px;
}
.iphone input[type="text"] + input[type="hidden"] + b {
	top: -23px;
	left: 5px;
}

.phone-list-element a {
	text-decoration: none;
	outline: none;
}

.more-elements {
	font-weight: bold;
	line-height: 30px;
	vertical-align: middle;	
	color: #5755D2;
}

#load_more_elements a {
	color: #5755D2;
}

#loading_more_elements {
	color: #6F6F6F;
}
